@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 75px;
    background: pink;
    padding: 5px 15px;
    transition: all 0.5s ease;
    z-index: 99;
}

.sidebar.open {
    width: 200px;
}

.sidebar .logo-details {
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo-details .logo-name {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo-details .icon {
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo-name {
    opacity: 1;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 20px;
    transition: all 0.4s ease;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar .logo-details #btn {
    text-align: right;
}

.sidebar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list {
    margin-top: 20px;
    height: 100%;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    background: #fff;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.sidebar.open li .tooltip {
    display: none;
}

