{% extends "main.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'clients/css/clients.css' %}">
{% endblock %}

{% block dashboard %}
    <div class="container">
        <div class="row">

            <div onclick="display_form('1')" class="col-md card-dashboard">
                <p class="text-card">Add Client</p>
            </div>

            <div onclick="display_form('2')" class="col-md card-dashboard">
                <p class="text-card">Update Client</p>
            </div>

        </div>
        <div id="add-clients" class="add-clients">
            <form action="{% url 'clients' %}" method="POST">{% csrf_token %}
                <div class="row">
                    <div class="col-md">
                        <p>Name:</p>
                        <input type="text" class="form-control" placeholder="Name" name="name" value="{{name}}">
                    </div>
                    <div class="col-md">
                        <p>Surname:</p>
                        <input type="text" class="form-control" placeholder="Surname" name="surname" value="{{surname}}">
                    </div>
                </div>
                <br>
                <p>E-mail:</p>
                <input type="email" class="form-control" placeholder="name@email.com" name="email" value="{{email}}">
                <br>
                <p>Phone Number:</p>
                <input type="text" class="form-control" placeholder="__.___.____" name="phone" value="{{phone}}">
                <hr style="background-color:gray;">
                <div class="add-cars">
                    <h3>Cars</h3>
                    <span class="btn-add-car" onclick="addCar()">+ Add a Car</span>
      
                    <div id="form-car">
                        {% for car, r_car, y in cars %}
                        <br>
                            <div class="row">
                                <div class="col-md">
                                    <input type="text" placeholder="car" class="form-control" name="car" value="{{car}}">
                                </div>

                                <div class="col-md">
                                    <input type="text" placeholder="reg-car" class="form-control" name="reg_car" value="{{reg_car}}">
                                </div>

                                <div class="col-md">
                                    <input type="number" placeholder="year" class="form-control" name="year" value="{{years}}">
                                </div>
                            </div>
                        {% endfor%}
                    </div>
                </div>
      
                <br>
                <input type="submit" value="Register" class="btn-main">
      
            </form>
            
        </div>

        <div id="upd-clients">
            teste
        </div>  
      
    </div>    

    <script src="{% static 'clients/js/clients.js' %}"></script>

{% endblock %}