{% extends "main.html" %}
{% load static %}

{% block 'head' %}
{% load static %}
    <link rel="stylesheet" href="{% static 'general/clients/css/clients.css' %}">

{% endblock %}

{% block 'dashboard'%}
    <div class="container">
        <div class="row">

            <div class="col-md card-dashboard">
                <p class="text-card">Add Client</p>
            </div>

            <div class="col-md card-dashboard">
                <p class="text-card">Update Client</p>
            </div>

        </div>
    </div>
{% endblock %}