{% extends "main.html" %}
{% load static %}

{% block 'head' %}
{% load static %}
    <link rel="stylesheet" href="{% static 'clients/css/clients.css' %}">

{% endblock %}

{% block 'dashboard'%}
    <div class="container">
        <div class="row">

            <div class="col-md card-dashboard">
                <p class="text-card">Add Client</p>
            </div>

            <div class="col-md card-dashboard">
                <p class="text-card">Update Client</p>
            </div>

        </div>
        <div class="add-clients">
            <form action="{% url 'clients' %}" method="POST">{% csrf_token %}
                <div class="row">
                    <div class="col-md">
                        <p>Name:</p>
                        <input type="text" class="form-control" placeholder="First Name">
                    </div>
                    <div class="col-md">
                        <p>Surname:</p>
                        <input type="text" class="form-control" placeholder="Surname">
                    </div>
                </div>
                <br>
                <p>E-mail:</p>
                <input type="email" class="form-control" placeholder="nome@email.com" name="email">
                <br>
                <p>Phone Number:</p>
                <input type="text" class="form-control" placeholder="___.___.___-__" name="phone">
                <hr style="background-color:gray;">
                <div class="add-cars">
                    <h3>Cars</h3>
                    <span class="btn-add-car" onclick="addCar()">+ Add a Car</span>
      
                    <div id="form-car">
      
                    </div>
      
                </div>
      
                <br>
                <input type="submit" value="Register" class="btn-main">
      
            </form>
            
        </div>
    </div>

    <script src="{% static 'clients/js/clients.js' %}"></script>

{% endblock %}